$imgpath: url(../img/m-h-night.jpg) no-repeat center;

$colors: (
  mainColor: #21232e,
  buttonColor: #e3ac00,
  bodyColor: #bbbec9,
  contentColor: #ff4e33,
  gradientEnd: #97344d,
  textColor: #fff,
  link: #fff,
  blockColor: #3b3f50,
);

$font-family-1: "Source Sans Pro", sans-serif;
$font-family-2: "Fresca", sans-serif;
