$imgpath: url(../img/m-h-day.jpg) no-repeat center;

$colors: (
  mainColor: #fff,
  buttonColor: #699900,
  bodyColor: #bbbec9,
  contentColor: #14a0c7,
  gradientEnd: #2f5dd0,
  textColor: #21232e,
  link: #fff,
  blockColor: #21232e,
);

$font-family-1: "Source Sans Pro", sans-serif;
$font-family-2: "Hind", sans-serif;

