* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-top: 10px;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666666;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

:root {
  --main-color: #76cdd8;
  --secondary-color: #019999;
}

button {
  width: 150px;
  height: 50px;
  background-color: var(--secondary-color);
  color: #ffffff;
  border-style: none;
}

button[type="subbmit"] {
  width: 200px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.first-info-section_line1 {
  display: flex;
}

.first-info-section_line3 {
  display: flex;
}

.pixcture-paypass {
  background: url("../img/image-01.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.half-div {
  padding: 40px 30px;
  height: 400px;
  width: 50%;
}

.div1 {
  background: var(--main-color);
}

.div1 h1 {
  margin: 155px auto;
  color: azure;
  width: 100px;
  height: 50px;
}

.div2 {
  /* padding: 40px 30px; */
  background: #ffffff;
}

.div2 q {
  display: block;
  margin: 80px 20px;
  line-height: 40px;
}

.first-info-section_line2 {
  display: flex;
  flex-direction: row-reverse;
}

.first-info-section_line2 > div:last-child {
  background: #ffffff;
}

.first-info-section_line2 > div:first-child {
  background: var(--main-color);
}

.first-info-section_line2 h2 {
  color: var(--main-color);
}

.first-info-section_line2 q {
  line-height: 40px;
}

.first-info-section_line2 button {
  margin: 0 0 0 auto;
}

.first-info-section_line2 p {
  margin-top: 10px;
  font-size: small;
  text-align: center;
  color: #ffffff;
}

.rounded-circle {
  margin: 0 auto;
  background: url("../img/image-04.jpg");
  height: 300px;
  width: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.first-info-section_line3 {
  background: #ffffff;
}

.first-info-section_line3 p {
  line-height: 40px;
}

.first-info-section_line3 a {
  text-decoration: none;
}

.first-info-section_line3 button {
  margin: 0 auto;
}

.second-info-section {
  display: flex;
  height: 600px;
  margin-top: 30px;
}

.second-info-section div:first-child {
  padding: 40px 30px;
  background: #ffffff;
}

.second-info-section_picture {
  background: url("../img/image-02.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.second-info-section h2 {
  color: var(--main-color);
}

.second-info-section button {
  margin: 0 30px 0 auto;
}

.second-info-section p {
  line-height: 30px;
}

.choose-section {
  display: flex;
  height: 600px;
  margin-top: 30px;
  background: #ffffff;
}

.choose-section_picture {
  background: url("../img/image-03.jpg");
  margin-right: 20px;
  height: 100%;
  flex-basis: 30%;
  background-position: center;
  background-size: cover;
}

.plan-header {
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: center;
  flex-basis: 30%;
  margin: 20px;
  border: solid var(--secondary-color) 2px;
}

.plan-header div:first-child {
  width: 100%;
  flex-basis: 100px;
  background: var(--secondary-color);
  text-align: center;
  color: #ffffff;
  line-height: 50px;
}

.form-section {
  margin-top: 30px;
}

.form-section > div:nth-child(1) {
  height: 100px;
  background: var(--main-color);
  color: #ffffff;
  padding-top: 20px;
}

.form-section h2 {
  margin-left: 300px;
}

.form-section form {
  position: relative;
  margin: -30px auto;
  z-index: 1;
  width: 500px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.form-section form > div:first-child {
  display: flex;
  justify-content: center;
}

.form-section form select {
  width: 100%;
  padding: 15px;
}

.data-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  color: #ffffff;
  background: var(--secondary-color);
}

.data-section p {
  font-size: small;
  line-height: 30px;
}

textarea {
  margin: 10px;
  padding: 15px;
}

.first-info-section > div {
  position: relative;
}

.first-info-section > div:nth-child(2):hover .effect-section1::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  border: 40px solid transparent;
  border-top: 40px solid var(--main-color);
  border-left: 40px solid var(--main-color);
}

.first-info-section > div:nth-child(2n-1):hover .effect-section1::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  border: 40px solid transparent;
  border-top: 40px solid var(--main-color);
  border-right: 40px solid var(--main-color);
}

.effect-section1:hover {
  color: var(--main-color);
}

button[name="hovered"]:hover {
  background-color: rgb(118, 205, 216);
}

.pixcture-paypass:hover {
  transform: scale(1.1, 1.1);
  z-index: 100;
}

.second-info-section_picture:hover {
  transform: scale(1.1, 1.1);
  z-index: 100;
}

.choose-section_firstplan:hover,
.choose-section_secondplan:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.pricing-discount {
  display: none;
}

.choose-section_secondplan:hover .pricing-discount {
  justify-self: flex-end;
  display: block;
  color: red;
}

.choose-section_secondplan:hover {
  margin: 10px 20px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

button[type="submit"]:hover {
  background-color: rgb(118, 205, 216);
}
