:root {
    --main-color: #76cdd8;
    --secondary-color: #019999;
}

.tm-section:nth-child(2n) .tm-text-color-primary,
.tm-card:hover {
    color: var(--main-color)
}

.tm-bg-color-primary,
.tm-form-header {
    background-color: var(--main-color);
}

.tm-bg-color-secondary {
    background-color: var(--secondary-color);
}

.btn-primary,
.btn-secondary {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.tm-section:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

.tm-card:nth-child(2n-1):hover [class="tm-flex-center p-5"]::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    border: 40px solid transparent;
    border-top: 40px solid var(--main-color);
    border-right: 40px solid var(--main-color);
}

.tm-card:nth-child(2):hover [class="tm-flex-center p-5"]::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    border: 40px solid transparent;
    border-top: 40px solid var(--main-color);
    border-left: 40px solid var(--main-color);
}

.tm-section:nth-child(3)>div:first-child:hover,
.tm-section:nth-child(4)>div:last-child:hover,
.tm-section:nth-child(5)>div:first-child:hover {
    transform: scale(1.1, 1.1);
    z-index: 100;
}

.tm-section:nth-child(2n) .btn-primary:hover {
    background: var(--main-color);
}

.tm-section:nth-child(5) div:nth-child(2):hover .tm-pricing-table,
.tm-section:nth-child(5) div:nth-child(3):hover .tm-pricing-table {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.tm-section:nth-child(5) .tm-pricing-table:hover a {
    background: #24d4d4;
}

.tm-section:nth-child(5) div:nth-child(3):hover .tm-pricing-discount {
    display: block;
}

.tm-section:nth-child(5)>div:nth-child(3):hover .tm-pricing-discount__star {
    color: red;
}

.tm-section:nth-child(5) div:nth-child(3):hover .tm-pricing-body {
    padding-bottom: 15px;
}

.row:last-child form:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.row:last-child button:hover {
    background-color: rgb(118, 205, 216)
}