$colors: (
  mainColor: rgb(41, 35, 35),
  buttonColor: #1b1b19,
  bodyColor: #bbbec9,
  contentColor: #14a0c7,
  gradientEnd: #2f5dd0,
  textColor: #ffffff,
  link: #fff,
  blockColor: #676a7a,
);

$font-family-1: "Source Sans Pro", sans-serif;
$font-family-2: "Fresca", sans-serif;